@font-face {
  font-family: 'Dancing Script';
  src: url(../fonts/Dancing_Script/DancingScript-Bold.ttf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Dancing Script';
  src: url(../fonts/Dancing_Script/DancingScript-Regular.ttf) format("opentype");
  font-weight: 400;
}
@font-face{
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-ExtraLight.ttf) format("opentype");
  font-weight: 100;
}